@media screen and (min-width:768px){

nav{
flex-direction:row;
justify-content:center;
}

.navigation{
display:flex;
gap:2rem;
}

.navigation li{
margin:0;
}

#menu{
display:none;
}

#members.grid{
grid-template-columns:repeat(3,1fr);
}

#members.list section{
display:flex;
align-items:center;
justify-content:space-between;
text-align:left;
padding:1rem 2rem;
}

#members.list img{
width:120px;
display:block;
}

}
body{
background:red;
}