@media (min-width: 641px) {

  nav {
    display: block;
  }

  #menuBtn {
    display: none;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

@media (min-width: 1025px) {

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }
}