@media (min-width: 641px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }

  .card figure img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

@media (min-width: 1025px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }
}